<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> madhavi-portfolio</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="about.css">

</head>
<body>
    
<!-- header section starts  --> 


<!-- header section ends -->

<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="#"><span></span></a></div>
        <ul class="menu">
            <li><a href="/" class="menu-btn">Home</a></li>
            
            
            <li><a href="about" class="menu-btn">About</a></li>
            <li><a href="projects" class="menu-btn">Project</a></li>
           
            <li><a href="contact" class="menu-btn">Contact</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>



<!-- home section starts  -->


<section class="home" id="home">

    <!-- <h3 class="cntr">Somthing About Me!</h3> -->
    
        <h1 class="heading"> <span>Something About Me!</span> </h1>
        
        <h3>Hello, This is</h3>
        
        <h3> <span>Madhavi Sharma</span></h3>
        <div>
            <img src="img/mfb.jpeg" class="cntr" alt="img not found">
            
        </div>
        <h3>
            A student and a Web Developer
        </h3>
        <p>
          
        </p>
        <p>
            I am currently pursuing my bachelor’s degree in Computer applications(BCA) from Prestige Institute of management and research Gwalior. 
        </p>
        <p>
            I have worked on a wide variety of projects that have allowed me to put what I’ve learned in the classroom into use in a practical sense. Currently, I am working on a Summer camp with IIT Kharagpur where the student can learn HTML CSS and it was really exciting to see the portfolio grow. I pride myself on being detail-oriented, analytical, and driven. 
        </p>
        <p>
            I aim to use my technical accumbent to contribute to learning that works on skills and also creates a positive impact on society.
           
        </p>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

<h1 class="heading"> <span>MY SKILLS</span> </h1>

<div class="row">

    <div class="info">
        <p></p>
        <h3></h3>
        <h3> Coding <span class="nm"> C </span> <span class="nm">C++ </span><span class="nm">
            Java </span>   </h3>
            <h3>FrontEnd<span class="nm"> HTML </span> <span class="nm">CSS </span> <span class="nm">Javascript</span> </h3>
        <h3> BackEnd <span class="nm"> Node.js </span> <span class="nm">Express </span><span class="nm">
                MongoDb </span> <span class="nm">MySQl </span>  </h3>
        
        <h3> Dev Tools <span class="nm">   VSCode</span>  </h3>
    </div>

    

</div>

</section>

<!-- about section ends -->

<!-- positions start -->

<section class="about" id="about">

    <h1 class="heading"> <span>EXPERIENCES</span> </h1>
    
    <div class="row">
    
        <div class="info">
            <h3 style="font-family: Fantasy;"> Oct 2020 <span class="nm"> Currently working as a Management and marketing head of Naatya Munch
                 </span>    </h3>
            <h3 style="font-family: Fantasy;"> Oct 2020 <span class="nm"> worked as a Event Co-ordinator in Spandan Fest at prestige Gwalior
                </span>    </h3>
            <h3 style="font-family: Fantasy;"> Oct 2021 <span class="nm"> Actively Volunteering at feeding India Program-initiative by zomato
                </span>    </h3>
            <h3 style="font-family: Fantasy;"> Oct 2021 <span class="nm"> Actively worked on Event star debugger as a Volunteer in Spandan Annual Fest
                </span>    </h3>
            
            
        </div>
    
        
    
    </div>
    
    </section>
    
<!-- positions end -->
<section class="about" id="about">

    <h1 class="heading"> <span>CERTIFICATES AND ACHIEVEMENTS</span> </h1>
    
    <div class="row">
    
        <div class="info">
            <h3 style="font-family: Fantasy;"> 02/2022 - Present <span class="nm"> Web developmentWith HTML & CSS (IIT Kharagpur)
            </span>    </h3>
            <h3 style="font-family: Fantasy;"> 02/2022 - 03/2022 <span class="nm"> MySQL Database (Thenewboston)
            </span>    </h3>
            <h3 style="font-family: Fantasy;"> 01/2022 - 03/2022 <span class="nm"> HTML Workshop (Geeksforgeeks)
            </span>    </h3>
           
            
        </div>
    
        
    
    </div>
    
    </section>

<section class="contact" id="contact">

<h1 class="heading"> <span>contact</span> me </h1>

<div class="row">

    <div class="content">

        <h3 class="title">contact info</h3>

        <div class="info">
            <h3> <i class="fas fa-envelope uuu"></i> madhavisharma587@gmail.com </h3>
            <h3> <i class="fas fa-phone"></i> +919165793896</h3>
            <h3> <i class="fas fa-phone"></i> </h3>
            <h3> <i class="fas fa-map-marker-alt"></i> Gwalior madhaya pradesh, India - 474006</h3>
        </div>

    </div>

    <form action="" method="post">

        <input type="text" name="name" placeholder="name" class="box">
        <input type="email" name="email" placeholder="email" class="box">
        <input type="text" name="phone" placeholder="phone" class="box">
        <textarea  name="message"  id="" cols="30" rows="10" class="box message" placeholder="message"></textarea>
        <button type="submit" class="btn"> send <i class="fas fa-paper-plane"></i> </button>s
    </form>

</div>

</section>

<!-- contact section ends -->


<!-- scroll top button  -->

<a href="#home" class="top">
    <img src="images/scroll-top-img.png" alt="">
</a>















<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="script.js"></script>


</body>
</html>